
.release_wrapper{
    background-color: #fff;
    padding: 0px;
    border-radius: 5px;
}

.release_header{
    padding: 10px;
    width: 100%;
    background-color: #bda42c;
}

.release_header h5{
    margin-bottom: 0px;
    padding-left: 10px;
    color: #fff;
}

.release_body_wrapper{
    padding: 15px 30px 20px 20px;
}

.release_body p{
    font-size: 0.8em;
}

.release_body h4{
    color: #e6b915;
    font-weight: bold;
    margin-bottom: 2px;
    font-size: 0.98em;
}

.release_body h5{
    margin-bottom: 5px;
    color: #5a628a;
    font-size: 0.9em;
}

.release_count{
    padding-left: 0px;
    padding-right: 0px;
}

.release_count h6{
    color: #e6b915;
    font-weight: bold;
}

.release_count h6 i{
    padding-right: 2px;
}

.releaseSeeMore{
    width: 100%;
}

