.release_wrapper h5{
    font-weight: bold;
}

.release_wrapper{
    background-color: #fff;
    padding: 20px 15px;
    border-radius: 5px;
}

.release_wrapper .h5{
    border-bottom: 1px solid #cecece;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.release_body p{
    font-size: 0.8em;
}

.release_body h4{
    color: #e6b915;
    font-weight: bold;
    margin-bottom: 2px;
    font-size: 0.98em;
}

.release_body h5{
    margin-bottom: 5px;
    color: #5a628a;
    font-size: 0.9em;
}

.release_count{
    padding-left: 0px;
    padding-right: 0px;
}

.release_count h6{
    color: #e6b915;
    font-weight: bold;
}

.release_count h6 i{
    padding-right: 2px;
}

.releaseSeeMore{
    width: 100%;
}
