.background{
  width: 100%;
  height: 100VH;
  background: url("/images/background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#block1{
  color: white;
  margin-bottom: 40px;
}

#block1 img{
  width: 70%;
}  
.logo_subtext{
  padding-top: 20px;
  padding-bottom: 15px;
  width: 70%;
  font-size: 14px;
  text-align: justify;
}

.register_button_acton button{
  padding: 5px 20px;
  border-radius: 0px;
}
.register_button_acton button:hover{
  background-color: #d6b719;
  border-color: #bda52c;
  color: #090a1f;
}

.row.footer{
  // background-color: #090a1f;
  padding-top: 40px;
}

.footer-language{
  color: #fff;
}

.footer-language .btn.btn-link{
  color: #fff;
  padding: 0px 0px 2px 0px;
  transition: ease-in;
  transition-duration: 0.3s;
}
.footer-language .btn.btn-link:hover{
  text-decoration: none;
  transition: ease-in;
  transition-duration: 0.3s;
  color: #d6b719;
  border-bottom: 2px solid #d6b719;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}
.footer-language .btn.btn-link.active{
  color: #d6b719;
  border-bottom: 2px solid #d6b719;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}
.footer-language .btn.btn-link.active:hover{
  color: #fff;
}

.footer-copyright{
  color: #fff;
  text-align: right;
}

#block2{
  background: #bda52c;
  width: 250px;
  float: right;
  padding: 25px 30px 30px 30px;
  border-radius: 5px;
}

.iconUser{
  padding: 15px 0 25px 0;
}

.connectTitle{
    color: #fff;
    // padding: 10px;
}


.login-form input.form-control {
  color: #fff;
  background-color: #bda42c;
  background-clip: padding-box;
  border-top: 0px solid #000;
  border-right: 0px solid #000;
  border-left: 0px solid #000;
  border-bottom: 1px solid rgb(116, 116, 116);
  border-radius: 0px;
}

.login-form input.form-control:focus {
  border-bottom: 1px solid rgb(255, 255, 255);
  border-radius: 0px;
}

.login-form input.form-control:focus{
  outline:none !important;
  outline-width: 0 !important;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}

.login-form input.form-control::placeholder{
  color: rgb(229, 229, 229);
}

.login-form .steps-action{
  text-align: center;
}


/* Button form soumettre */
.ant-btn-primary{
    color: #fff;
    background-color: #056300;
    border-color: #056300;
}
.ant-btn-primary:hover, .ant-btn-primary:focus {
    color: #fff;
    background-color: #6e983d;
    border-color: #056300;
}
.ant-btn:hover, .ant-btn:focus, .ant-btn:active {
    color: #056300;
    background-color: #fff;
    border-color: #6e983d;
}


.cover-spiner{
    position: fixed;
    width: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(255, 255,255,0.7);
    z-index: 9999;
}

.login_picture{
  border-radius: 50%;
  width: 80px;
  height: 80px;
}
