.container-fluid.home{
    padding-left: 0px;
    padding-right: 0px;
    background: radial-gradient(#bda42c, #000000);
}

.homeBody{
    // background: url("/images/zik4.jpeg") no-repeat center center fixed;
    // background-size: cover;
    height: 100%;
    padding-top: 30px;
}

.feedWrapper{
    // padding-right: 0px;
}

.feedWrapper .card.publication{
    padding: 10px;
}
.feedWrapper .card_publication_header{
    width: 100%;
    background-color: #bda42c;
    padding: 10px;
}
.feedWrapper .card_publication_header h5{
    margin-bottom: 0px;
    padding-left: 10px;
    color: #fff;
}


.pubButtonWrapper{
    padding-top: 10px;
    padding-bottom: 10px;
}

.pubLishtFeed{
    margin-top: 20px;
}

.pubListFeedItem{
    margin-top: 10px;
    padding: 20px;
}

.col-xs-12.col-md-1.rightNavWrapper{
    background-color: #fff;
    margin-top: -30px;
    padding-top: 30px;
}

