.container-fluid.home{
    padding-left: 0px;
    padding-right: 0px;
    background: radial-gradient(#d3ba2b, #705161);
}

.homeBody{
    // background: url("/images/zik4.jpeg") no-repeat center center fixed;
    // background-size: cover;
    height: 100%;
    padding-top: 30px;
}

.feedWrapper{
    // padding-right: 0px;
}

.feedWrapper .card.publication{
    padding: 10px;
}
.feedWrapper .card_publication_header{
    width: 100%;
    background-color: #bda42c;
    padding: 10px;
}
.feedWrapper .card_publication_header h5{
    margin-bottom: 0px;
    padding-left: 10px;
    color: #fff;
    font-size: 15px;
}

.cardPubContent{
    padding: 10px 30px;
}
.cardPubContent .img-pub-wrapper{
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.cardPubContent img{
    border-radius: 10px;
}

.publicationText{
    width: 100%;
    height: 100%;
    display:inline-block;
    position:relative;
}
.publicationText textarea{
    width: 100%;
    height: 100%;
    overflow: auto;
    resize: vertical;
    border: 1px solid rgba(136, 102, 50, 0.258);
    resize: none;
    border-radius: 20px;
}
.publicationText button{
    position:absolute;
    bottom:10px;
    right:15px;
}

.cardPubFooter{
    height: 20px;
    background-color: #bda42c;
    width: 100%;
}


.pubButtonWrapper{
    padding-top: 10px;
    padding-bottom: 10px;
}

.pubLishtFeed{
    margin-top: 20px;
}

.pubListFeedItem{
    margin-top: 10px;
    padding: 20px;
}

.col-xs-12.col-md-1.rightNavWrapper{
    background-color: #fff;
    margin-top: -30px;
    padding-top: 30px;
}

