.container-fluid.home{
    padding-left: 0px;
    padding-right: 0px;
}

.form-control.mr-sm-2.navFormInput{
    width: 300px;
}

.homeBody{
    background-color: #3d7e9828;
    height: 100%;
}

.feedWrapper{
    padding-top: 30px;
}

.feedWrapper .card.publication{
    padding: 20px;
}

.pubButtonWrapper{
    padding-top: 10px;
}

.pubLishtFeed{
    margin-top: 20px;
}

.pubListFeedItem{
    margin-top: 10px;
    padding: 20px;
}