// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.text-karaf-pink{
    color: #f59dc0;
}
.text-karaf-gold{
    color: #bda42c !important;
}

.badge-karaf-pink{
    color: #fff;
    background-color: #f59dc0;
}

.badge-karaf-gold{
    color: #fff;
    background-color: #bda42c;
}