
.publication_card_header .img-wrapper{
    padding-left: 20px;
    padding-right: 10px;
}

.publication_card_header .col-md-10{
    padding: 8px 0 0 5px;
}

.publication_card_header h5, h6{
    padding-left: 0px;
    margin-bottom: 3px;
}

.publication_card_header .card_more_option{
    text-align: right;
    padding-right: 20px;
}

.publication_card_body{
    padding: 15px;
}

.publication_card_body p{
    text-align: justify;
}

